.tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: lightgray;
    display: inline-block;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 10pt;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    pointer-events: none;
    position: absolute;
    left: 0;
    text-align: center;
    word-wrap: break-word;
    width: auto;
    min-width: 300px;
    max-width: 450px;
    z-index: 1000000;
    line-height: 1.2;
}

.tooltip-loader {
    width: 300px;
    height: 24px;
    margin: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 1px solid #5770A2;
}